:root {
  --navy: #234;
  --orange: #e47b55;
  --orangered: #e25656;
  --purple: #741b53;
  --medgray: #999;
}

/* * {
  font-family: 'Mont' !important;
} */

/* ----------*/
/* Fonts
/* ----------*/
@font-face {
  font-family: 'Mont';
  src: url('../../client/src/fonts/Mont-Regular.eot');
  src: local('☺'), url('../../client/src/fonts/Mont-Regular.woff') format('woff'), url('../../client/src/fonts/Mont-Regular.ttf') format('truetype'), url('../../client/src/fonts/Mont-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url('../../client/src/fonts/Mont-Bold.eot');
  src: local('☺'), url('../../client/src/fonts/Mont-Bold.woff') format('woff'), url('../../client/src/fonts/Mont-Bold.ttf') format('truetype'), url('../../client/src/fonts/Mont-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url('../../client/src/fonts/Mont-Heavy.eot');
  src: local('☺'), url('../../client/src/fonts/Mont-Heavy.woff') format('woff'), url('../../client/src/fonts/Mont-Heavy.ttf') format('truetype'), url('../../client/src/fonts/Mont-Heavy.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* -------------------- */

body  {
  font-family: 'Mont', sans-serif;
  color: var(--navy);
}

h2 {
  font-weight: 600;
}

p {
  font-size: 18px;
}

hr {
  margin-top: 2rem; 
  opacity: .2;
}

/* Nav */
nav {
  background-color: transparent;
   -webkit-box-shadow: none;
   box-shadow: none;
   margin-top: 50px;
}

nav ul a {
  color: var(--navy);
}

nav ul a:hover,
button.btn-logout:hover {
  background: transparent;
  color: var(--medgray);
}

.link {
  color: var(--orange)
}

.btn-logout {
  background: transparent;
  border: none;
  font-family: 'Mont';
  text-transform: capitalize;
}

/* Logo */
.piggy {
  max-width: 190px;
}

/* Spinner */
.spinner {
  width: 320px;
  margin: 10% auto;
  display: block;
}


/* ------------ */
/* Landing
/* ------------ */
.landing-wrapper {
  height: 75vh; 
}

.landing-wrapper span {
  font-weight: 600;
}

.btn-get-started {
  border-radius: 100px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--orangered);
}

.btn-get-started:hover {
  background-color: var(--orange);
  transform: translateY(-2.5px);
}

/* ------------ */
/* Wrappers
/* ------------ */
.register-wrapper,
.login-wrapper,
.login-wrapper h2,
.login-wrapper p,
.register-wrapper h2,
.register-wrapper p,
.dashboard-wrapper  {
  margin-top: 3%;
  border-radius: 30px;
  position: relative;
  z-index: 100;
}

.blob {
  position: absolute;
  z-index: 0;
}

/* ----------------------- */
/* Buttons
/* ----------------------- */
.register-wrapper .btn,
.login-wrapper .btn, 
.dashboard-wrapper .btn {
  background-color: var(--orangered);
  border-radius: 100px;
}

.register-wrapper .btn:hover,
.login-wrapper .btn:hover,
.dashboard-wrapper .btn:hover {
  transform: translateY(-2.5px);
  background-color: var(--orange);
}

/* ---------------- */
/* Dashboard Wrapper
/* ---------------- */
.dashboard-wrapper {
  margin-top: 3%;
  padding: 2%;
  border-radius: 30px;
}


/* ---------------- */
/* Forms
/* ---------------- */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--navy);
  -webkit-box-shadow: 0 1px 0 0 var(--navy);
  box-shadow: 0 1px 0 0 var(--navy);
}

input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default) {
  border-bottom: 1px solid var(--navy);
}

/* label color */
.input-field label {
  color: var(--navy) !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: var(--navy) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid var(--navy) !important;
  box-shadow: 0 1px 0 0 var(--navy) !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid var(--navy) !important;
  box-shadow: 0 1px 0 0 var(--navy) !important;
}

.input-field .prefix.active {
  color: var(--navy) !important;
}

/* ---------------- */
/* Accounts
/* ---------------- */
.accounts-wrapper {
  background-color: #f8f8f8;
  padding: 2%;
  border-radius: 10px;
}

.linked-accounts {
  display: flex;
  align-items: center;
  background: #eee;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 10px;
}

.linked-accounts p {
  margin-left: 20px;
}

.num-of-transactions {
  margin-bottom: 10px;
}

.btn-delete {
  margin-right: 5px;
  background-color: var(--medgray);
}

.btn-delete:hover {
  margin-right: 5px;
  background-color: var(--navy);
}

.MuiTable-root td,
.MuiTable-root th,
.MTableToolbar-title-249,
.MuiInputBase-root,
.MuiTypography-caption,
.MuiTypography-h6 {
  font-family: 'Mont' !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid white !important;
}

.MuiInput-underline:before:active {
  border-bottom: 1px solid white !important;
}

.MuiPaper-root.MuiInput-underline:after {
  border-bottom: none;
}

.MTableToolbar-searchField-250 {
  width: 33%;
}

/* ---------------- */
/* Footer 
/* ---------------- */
small a {
  color: var(--orange);
}

footer {
  /* position: fixed; */
  /* bottom: 10px; */
  margin-left: 40%;
  
}


/* ---------------- */
/* Media Queries 
/* ---------------- */
/* @media only screen and (max-width: 1476px){
  h1 {
     font-size: 2rem;
  }
} */
